body{
      background-color:cadetblue;
    }

    h1{
      color: brown;
      font-family:"press start 2p","consolas" ,"sans-serif"
    }
    
    p{
      color: yellow;
      /*in case the web browser doesn't have consolas; it'll use sans-serif*/
      font-family: "consolas" , sans-serif ;
      font-style: italic;
      font-weight: bold ;
      text-decoration:deepskyblue ;
      font-size: 38px;
    }

    /* to use fonts we can use"fonts.google.com"*/